<html>
<head>
    <link rel="stylesheet" href="src/styles/bootstrap.min.css">
    <link rel="stylesheet" href="src/styles/myapp.css">
    <link rel="apple-touch-icon" href="images/icon-152.png">   
    <meta name="theme-color" content="white"/>  
    <meta name="apple-mobile-web-app-capable" content="yes">  
    <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
    <meta name="apple-mobile-web-app-title" content="Canteen POS"> 
    <meta name="msapplication-TileImage" content="images/icon-144.png">  
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <script src="src/deps/vue.js"></script>
    <script src="src/deps/vue-router.js"></script>
    <script src="src/deps/vuex.js"></script>
    <script src="src/deps/jquery-3.4.1.slim.min.js"></script>
    <script src="src/deps/popper.min.js"></script>
    <script src="src/deps/bootstrap.min.js"></script>
    <script src="src/deps/axios.min.js"></script>
    <script src="src/deps/pouchdb-7.1.1.min.js"></script>
    <script src="/src/deps/pouchdb.authentication.min.js"></script>
    <script src="src/deps/charts.min.js"></script>
    <link rel="stylesheet" href="src/styles/icons.css">
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
            <router-link class="navbar-brand" to="#">Canteen POS</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul v-if="user_role" class="navbar-nav">
                <li class="nav-item">
                    <router-link class="nav-item nav-link" to="/newSale">New Sale</router-link>
                </li>
                <li v-if="user_role=='admin'" class="nav-item">
                    <router-link class="nav-item nav-link" to="/listSales">List Sales</router-link>
                </li>
                <li v-if="user_role=='admin'" class="nav-item">
                    <router-link class="nav-item nav-link" to="/listProducts">List Products</router-link>
                </li>
                <li v-if="user_role=='admin'" class="nav-item">
                  <router-link class="nav-item nav-link" to="/reports">Reports</router-link>
              </li>
              </ul>
            </div>
            <div v-if="user_role" class="collapse navbar-collapse" id="navbarNav">
              <span style="color: lightgrey;">Last Sync: {{ last_sync }}</span>
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle vertical_middle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">settings</i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Reload App</a>
                    <a class="dropdown-item" href="#">Reset Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" v-on:click="addReferenceData">Add Reference Data</a>
                    <a class="dropdown-item" v-on:click="createViews">Add Reference Data</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" v-on:click="logOut()">Log Out</a>
                  </div>
                </li>
              </ul> 
            </div>
          </nav>
          <div class="container"> 
            <div v-if="loggedIn">
              <router-view></router-view>
            </div>
            <div v-else> 
              <p v-if="errors.length" class="alert alert-danger" role="alert">
                <b>Please correct the following error(s):</b>
                <ul>
                  <li v-for="error in errors">{{ error }}</li>
                </ul>
              </p>
              <p v-if="messages.length" class="alert alert-success" role="alert">
                <ul>
                  <li v-for="message in messages">{{ message }}</li>
                </ul>
              </p>
              <form id="loginForm" class="login-form">
                <div class="form-group">
                  <label for="userName">User Name</label>
                  <input v-model="user" type="text" class="form-control" id="userName" placeholder="User">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input v-model="password" type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                  <label for="server">Password</label>
                  <input v-model="server" type="text" class="form-control" id="server" placeholder="Server">
                </div>
                <button type="button" class="btn btn-primary float-right" v-on:click="login()">Login</button>
              </form>
            </div>
          </div>
    </div>
    <script>
      
    </script>
    <script src="src/app.js" type="module"></script>
    
</body>
</html>