.col_links {
    float: left;
    height: 100%;
    overflow: scroll;
    margin-left: 0px;
}

.row {
    margin-left: 0px;
}

.content {
    border: 0.5px black;
}

.list_font {
    
}

.container {
    margin-left: 0px;
}

.litem-js{
    font-size:9pt
}

html,
.fullscreen {
  
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}